<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50A8929B1DD43B9F0033F029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A892B41DD43B9F0033F029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A892BF1DD43B9F0033F029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
